body {
    background-color: #121725;
}

main {
    color: white;
}

.logo {
    width: 134.85px;
    height: 56px;
    position: absolute;
    left: 10vw;
    top: 12vh;
}

.dots {
    width: 232px;
    height: 104px;
    position: absolute;
    right: 0;
    bottom: 4vh;
}

.box {
    position: absolute;
    width: 90vw;
    height: 75vh;
    left: 10vw;
    top: 15vh;
}

.img-host {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;
}

.content-box {
    background: #121725;
    position: absolute;
    width: 50vw;
    height: 509px;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.content {
    position: absolute;
    font-family: 'Chivo', sans-serif;
    width: 665px;
    height: 421px;
    bottom: 0;
}

.tittle {
    width: 665px;
    height: 124px;
    left: 165px;
    top: 349px;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    /* or 119% */
    text-transform: uppercase;
    color: #54E6AF;
}

.tittle-secondary {
    color: white;
}

.description {
    width: 445px;
    height: 84px;
    left: 165px;
    top: 497px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #C2CBE5;
}

.form {
    width: 427px;
    height: 56px;
    left: 165px;
    top: 621px;
    background: #2C344B;
    border-radius: 28px;
}

.form-access {
    width: 427px;
    height: 56px;
    left: 165px;
    top: 621px;
}

.email {
    height: 28px;
    left: 7.49%;
    right: 70.26%;
    top: calc(50% - 28px/2);
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    background: #2C344B;
    border: none;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

input::placeholder {
    color: #FFFFFF;
}

.btn-access {
    height: 90%;
    background: #54E6AF;
    box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
    border-radius: 28px;
    font-size: 14px;
    font-weight: bold;
    font-family: Chivo;
    border: none;
}

.platforms {
    width: 536px;
    height: 29px;
    left: 165px;
    top: 741px;
}
