body {
    background-color: #121725;
}

main {
    color: white;
}

.logo {
    height: 56px;
    left: 10vw;
    position: absolute;
    top: 12vh;
    width: 134.85px;
}

.dots {
    bottom: 4vh;
    height: 104px;
    position: absolute;
    right: 0;
    width: 232px;
}

.box {
    height: 75vh;
    left: 10vw;
    position: absolute;
    top: 15vh;
    width: 90vw;
}

.img-host {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    z-index: 0;
}

.content-box {
    background: #121725;
    bottom: 0;
    height: 80%;
    left: 0;
    position: absolute;
    width: 50vw;
    z-index: 1;
}

.content {
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Chivo', sans-serif;
    height: 80%;
    justify-content: space-between;
    position: absolute;
    width: 90%;
}

.tittle {
    color: #54E6AF;
    font-size: 3vw;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    text-transform: uppercase;
    width: 100%;
}

.tittle-secondary {
    color: white;
}

.description {
    color: #C2CBE5;
    margin-top: 0;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: normal;
    width: 70%;
}

.form-height {
    height: 18%;
}

.form-box {
    align-items: center;
    background: #2C344B;
    border-radius: 28px;
    display: flex;
    height: 80%;
    justify-content: space-between;
    width: 31vw;
}

.email {
    background: #2C344B;
    border: none;
    color: #FFFFFF;
    font-family: Chivo;
    font-size: 1vw;
    font-style: normal;
    font-weight: normal;
    left: 7.49%;
    margin-left: 7%;
    mix-blend-mode: normal;
    opacity: 0.5;
    right: 70.26%;
    top: calc(50% - 28px/2);
    width: 80%;
}

.error-msg {
    color: #FB3E3E;
    font-size: 12px;
    height: 20%;
    padding-left: 5%;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

.btn-access {
    background: rgb(84, 230, 175);
    border: none;
    border-radius: 28px;
    box-shadow: rgb(84 230 175 / 14%) 0px 2px 4px;
    font-family: Chivo;
    font-size: 1vw;
    font-weight: bold;
    margin-right: 1%;
    height: 85%;
    padding: 0 5%;
}

.btn-access:hover {
    background-color: #B3FFE2;
    cursor: pointer;
}

input::placeholder {
    color: #FFFFFF;
}

.platforms {
    align-items: center;
    display: flex;
    height: 2rem;
    justify-content: space-between;
    width: 80%;
    margin-top: 5%;
}